/* Mapas*/

$standar: (
    /*key*/ /*valor*/
    color-standard: #f4f4f4,
    bg-standard red,
    /*Border*/
    boder-standard: 4px solid red,
    /*anchos*/
    width-standard: 80%,
);

$premium: (
    color-standard: black,
    bg-standard gold,
);